.App {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: #f3f2ee;
}

/* FOOTER */
footer {
  width: 100%;
  height: 220px;
  padding: 2rem 6rem;
  margin: 1rem 0;
}

div.row.footer-logo {
  width: 100%;
  height: 2.2rem;
}

div.row.footer-logo img {
  height: 1.5rem;
}

footer div.col-md-2 {
  padding: 0;
}

footer p,
span,
label {
  font-size: 12px;
  margin-bottom: 0.7rem;
  color: #00000099;
  font-weight: 600;
}

footer p:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

footer h6:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

footer h6 {
  font-size: 14px;
  margin: 0;
}

span.copyright {
  font-weight: 400;
}

footer svg {
  color: #00000099;
}

footer select {
  width: 100%;
  height: 2rem;
  font-size: 0.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #f3f2ee;
  color: #00000099;
  border: 1px solid #00000099;
  border-radius: 5px;
}

footer select:hover {
  border: 2px solid #00000099;
}

footer select:focus {
  border: none;
  box-shadow: 0 0 5px #0a66c2;
}

footer select:focus-visible {
  outline: none;
  border: none;
  box-shadow: 0 0 5px #0a66c2;
}

footer select option {
  background-color: white;
}

footer a.dropdown-item {
  padding: 5px 10px;
  font-size: 12px;
  color: #00000099;
  font-weight: 500;
}

footer button#dropdown-basic {
  background-color: #f3f2ee;
  color: #00000099;
  font-size: 12px;
  margin-bottom: 0.7rem;
  font-weight: 600;
  border: none;
  padding: 0;
}

footer button#dropdown-basic:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

footer button#dropdown-basic:focus {
  box-shadow: none;
}

footer div.dropdown {
  display: flex;
  align-items: baseline;
}