body {
    background-color: #f3f2ee !important;
}

/* ========== SIGN IN SCREEN ========== */
.sign-in-screen {
  position: relative;
  top: -55px;
  height: 93vh;
  width: 100%;
  z-index: 6;
  background-color: #f3f2ee;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sign-in-logo {
  margin: 30px 0;
  height: 60px;
}
.sign-in-text {
  margin-bottom: 20px;
}

.sign-in-form {
  width: 458px;
}
.sign-in-button {
  margin: 18px 0;
  
}
.sign-in-image-container {
  margin: 0 50px;
}
.sign-in-image {
  height: 100px;
}


a :hover {
  text-decoration: none;
}

.main-body-container {
  margin-top: 10px;
}

.profile-body-section-title {
  display: inline;
  margin: 0;
  padding: 0;
}

.profile-section-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card

/* ============ EXPERIENCE SECTION ============ */

.experience-fragment-container {
  display: flex;
  width: 100%;
}

.experience-fragment-company-image {
  width: 64px;
  height: 64px;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.experience-fragment-image {
  width: 64px;
  height: 64px;
}
.experience-fragment-details {
  width: 100%;
}

.experience-fragment-title {
  color: black;
  display: inline;
  font-size: 16px;
  margin: 0 0 2px 0;
}

.experience-fragment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.experience-fragment-text {
  color: black;
  font-size: 14px; 
}

.experience-fragment-description {
  color: black;
  text-decoration: none;
  font-size: 14px; 
}

.experience-fragment-edit-container :hover{
  cursor: pointer;
}
.experience-fragment-edit-button {
  height: 20px;
  width: 20px;
}
.experience-fragment-add-button-container :hover{
  cursor: pointer;
}

.experience-fragment-add-button {
  height: 24px;
  width: 24px;
  margin-right: 14px;
}

/* ============ SIDEBAR CSS ============ */

.background-color-main {
  background-color: #f3f2ee;
}

.sidebar-main-container {
  width: 100%;
  height: auto;
  margin: 10px 10px 10px 0px;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.sidebar-section {
  padding: 10px 100px !important;
  width: 100%;
  margin-bottom: 20px;
  
  border-radius: 11px;
  float: right;
  
  
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.sidebar-section-title {
  font-size: 18px;
  margin: 10px 0 20px;
}

.user-profile-fragment-container {
  margin: 10px 0 10px 0;
  display: flex;
}
.user-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline;
}

.user-icon {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.user-fragment-info {
  padding: 2px 0 2px 10px;
  width: 95%;
  display: inline;
}

.user-fragment-title {
  font-size: 15px;
  margin-bottom: 3px;
  color: #004182;
}

.user-fragment-relatedness {
  color: gray;
}

.user-fragment-description {
  color: grey;
  font-size: 13.5px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

button {
  margin-right: 8px;
  background-color: rgb(0, 114, 177);
  border-color: rgb(0, 114, 177);
  height: 35px;
  padding: 0rem 1.2rem !important;
  font-weight: 500;
  margin-right: 8px !important;
}
