body {
    background-color: #f3f2ee !important;
}

/* ========== SIGN IN SCREEN ========== */
.sign-in-screen {
  position: relative;
  top: -55px;
  height: 93vh;
  width: 100%;
  z-index: 6;
  background-color: #f3f2ee;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sign-in-logo {
  margin: 30px 0;
  height: 60px;
}
.sign-in-text {
  margin-bottom: 20px;
}

.sign-in-form {
  width: 458px;
}
.sign-in-button {
  margin: 18px 0;
  
}
.sign-in-image-container {
  margin: 0 50px;
}
.sign-in-image {
  height: 100px;
}


a :hover {
  text-decoration: none;
}

.main-body-container {
  margin-top: 10px;
}

.profile-body-section-title {
  display: inline;
  margin: 0;
  padding: 0;
}

.profile-section-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card

/* ============ EXPERIENCE SECTION ============ */

.experience-fragment-container {
  display: flex;
  width: 100%;
}

.experience-fragment-company-image {
  width: 64px;
  height: 64px;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.experience-fragment-image {
  width: 64px;
  height: 64px;
}
.experience-fragment-details {
  width: 100%;
}

.experience-fragment-title {
  color: black;
  display: inline;
  font-size: 16px;
  margin: 0 0 2px 0;
}

.experience-fragment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.experience-fragment-text {
  color: black;
  font-size: 14px; 
}

.experience-fragment-description {
  color: black;
  text-decoration: none;
  font-size: 14px; 
}

.experience-fragment-edit-container :hover{
  cursor: pointer;
}
.experience-fragment-edit-button {
  height: 20px;
  width: 20px;
}
.experience-fragment-add-button-container :hover{
  cursor: pointer;
}

.experience-fragment-add-button {
  height: 24px;
  width: 24px;
  margin-right: 14px;
}

/* ============ SIDEBAR CSS ============ */

.background-color-main {
  background-color: #f3f2ee;
}

.sidebar-main-container {
  width: 100%;
  height: auto;
  margin: 10px 10px 10px 0px;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.sidebar-section {
  padding: 10px 100px !important;
  width: 100%;
  margin-bottom: 20px;
  
  border-radius: 11px;
  float: right;
  
  
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.sidebar-section-title {
  font-size: 18px;
  margin: 10px 0 20px;
}

.user-profile-fragment-container {
  margin: 10px 0 10px 0;
  display: flex;
}
.user-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline;
}

.user-icon {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.user-fragment-info {
  padding: 2px 0 2px 10px;
  width: 95%;
  display: inline;
}

.user-fragment-title {
  font-size: 15px;
  margin-bottom: 3px;
  color: #004182;
}

.user-fragment-relatedness {
  color: gray;
}

.user-fragment-description {
  color: grey;
  font-size: 13.5px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

button {
  margin-right: 8px;
  background-color: rgb(0, 114, 177);
  border-color: rgb(0, 114, 177);
  height: 35px;
  padding: 0rem 1.2rem !important;
  font-weight: 500;
  margin-right: 8px !important;
}


/**Ingrid css **/

.navbar {
  justify-content: space-between !important;
  display: inline-flex;
}

#wp-join-btn {
  border-color: transparent !important;
  font-weight: 600;
}

#wp-join-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
}

#wp-signin-btn {
  font-weight: 600;
  margin-left: 4px;
  border-radius: 24px;
  border-color: #0a66c2;
  padding: 0.375rem 1.2rem;
  background-color: transparent;
  color: #0a66c2;
}

#wp-signin-btn:hover {
  border-color: #0a66c2;
  background-color: rgba(112, 181, 249, 0.15);
  color: #0a66c2;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #0a66c2;
}

.welcome_h1 {
  color: #8f5849;
}

#welcome-ilustration-desktop {
  z-index: -1;
  width: 700px;
  position: absolute;
  right: 250px;
}

.welcome-btns:hover {
  box-shadow: 0px 4px 6px rgb(0 0 0 / 15%), 0px 0px 2px rgb(0 0 0 / 15%);
}
.welcome-btns {
  color: rgba(0, 0, 0, 0.9);
}

footer > .footer {
  background-color: #faf9f7;
}

.welcome-footer-ul {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#welcome-footer-container > div > div > ul > li > a {
  color: #666666;
}

#welcome-footer-container > div > div > ul > li > a:hover {
  color: #0a66c2;
}

#welcome-form {
  margin-bottom: 8%;
}

#welcome-footer-ul-horizontal {
  align-items: center;
  display: flex;
}

#welcome-footer-ul-horizontal > li,
#welcome-footer-ul-horizontal > li > span {
  border: none;
  font-size: 0.6rem;
  font-weight: 600;
  white-space: nowrap;
}

#welcome-footer-ul-horizontal #dropdown-basic {
  background-color: transparent;
  border: none;
  font-size: 0.6rem;
  font-weight: 600;
  color: #666666;
}

#welcome-footer-ul-horizontal > li > a {
  color: #666666;
}
#welcome-footer-ul-horizontal > li > a:hover {
  color: #0a66c2;
}

#welcome-footer-ul-horizontal .dropdown-toggle::after {
  content: none;
}

#joinnow-h1-topo {
  font-size: 2rem;
  font-weight: 400;
}

#joinnow-form {
  background-color: white;
}

#joinnow-form > button {
  border-radius: 24px;
}

#joinow-btn-google {
  font-weight: 600;
  border-radius: 24px;
  border-color: #0a66c2;
  background-color: transparent;
  color: #0a66c2;
}

#joinow-btn-google:hover {
  border-color: #0a66c2;
  background-color: rgba(112, 181, 249, 0.15);
  color: #0a66c2;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #0a66c2;
}

#joinow-btn-agree {
  background-color: #0a66c2;
  border-radius: 24px;
}

#joinow-btn-agree:hover {
  background-color: #004182 !important;
}

#signin-form {
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

#signin-form a,
#signin-new2ln > a {
  color: #0a66c2 !important;
}
